
# Служебные файлы Flutter и Dart (кэш, скомпилированные файлы)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Веб-специфичные файлы (если собираете под Web)
.ext/
doc/api/
generated_page.html

# Файлы настроек редакторов (VS Code, Android Studio, Xcode)
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history/

# Логи и временные файлы
*.log
*.crash
.crashlytics/

# Специфичные файлы операционных систем
.DS_Store
Thumbs.db

# Конфиденциальные данные и файлы окружения (секретные ключи, токены)
.env
.env.*

