
.container {
  pointer-events: auto; /* А вот на сами уведомления можно нажимать */
  min-width: 250px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  animation: slideIn 0.3s ease-out;
}

.text {
  margin: 0;
  font-size: var(--font-x);
  color: var(--color-main-text);
  font-family: sans-serif;
}

/* Стили для типов */
.success { border-left: 5px solid var(--color-success); }
.warning { border-left: 5px solid var(--color-warning); }
.error   { border-left: 5px solid var(--color-error); }
.info    { border-left: 5px solid var(--color-primary); }

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
